body, div {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

.header {
    background-color: #232526;
    color: white;
    text-align: center;
}

.panel {
    background-color: #232526;
}

.action {
    background-color: #2C3033;
    color: white;
    padding-left: 20px;
}

.action:hover {
    background-color: #313D3C;
}

.header div, .action div, .listitem div, .counter div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
}

.placeholder {
    background-color: white;
    text-align: center;
    color: #BBBBBB;
    padding: 20px;
}

.counter {
    text-align: right;
    padding-right: 20px;
}

.selection {
    z-index: 10;
    background-color: rgb(0, 0, 200);
    background-color: rgba(0, 0, 200, 0.5);
    pointer-events: none;
    margin: 10px;
}
.listitem {
    text-align: center;
    color: white;
}
.listitem:hover {
    color: white;
    color: rgba(255, 255, 255, 0.3);
}
.listitem.selected {
    text-shadow: 0 0 4px rgba(255, 255, 255, 1);
    color: white;
}
.listitem.direction-y.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listitem.direction-y.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 3px #AAAAAA;
}
.listitem.direction-x.first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.listitem.direction-x.last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
