body, div {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
}

.header {
    background-color: #232526;
    color: white;
    text-align: center;
}

.panel {
    background-color: #232526;
}

.action {
    background-color: #2C3033;
    color: white;
    padding-left: 20px;
}

.action:hover
{ 
    background-color:#313D3C;
}

.header div, .action div, .listitem div, .placeholder div, .counter div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;   
}

.placeholder {
    background-color: white;
    text-align: center;
    color: #BBBBBB;
}

.counter {
    text-align: right;
}

.listitem {
    background-color: #ACB29B;
    text-align: center;
}
.listitem.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listitem.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*box-shadow: 0px 2px 5px #AAAAAA;*/
}

